<h1 style="font-size:3rem; color:green;"> Snow depth data wrangling over the two stations Ifrane and Midelt  </h1>

<div class="alert alert-block alert-success">
 The raw data of the snow depth in the two stations IFRANE and MIDELT are at the beginning in a complicated format, this notebook will allow to put them in a simple format and store them in statistical files.  </div>

<h1 style="font-size:2rem; color:green;"> Load required libraries </h1>

In [1]:
# To reload external files automatically (ex: utils)
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import netCDF4 as nc
from netCDF4 import Dataset
import datetime as dt
import calendar as cld
import xarray as xr

<h1 style="font-size:2rem; color:green;">  Check and import data  </h1>

In [22]:
path = r'C:\Data'  # r allows to convert slaches into anti slaches

IFR1 = pd.read_csv(path + r'\scf_gf_TIZ1.csv')  
IFR2 = pd.read_csv(path + r'\scf_gf_TIZ2.csv')
IFR3 = pd.read_csv(path + r'\scf_gf_TIZ3.csv')
IFR4 = pd.read_csv(path + r'\scf_gf_TIZ4.csv')

<h1 style="font-size:2rem; color:green;">  Preparation of the data of Ifrane station  </h1>

In [23]:
# The original data
IFR = pd.concat([IFR1, IFR2, IFR3, IFR4])

In [24]:
IFR = IFR.drop(labels='Unnamed: 0', axis=1)

In [25]:
IFR = IFR.rename(columns={'date':'date', 'scfg':'scfg_interp'})

In [26]:
IFR

            date  scfg_interp
0     1982-01-01          0.0
1     1982-01-02          0.0
2     1982-01-03          0.0
3     1982-01-04          0.0
4     1982-01-05          0.0
...          ...          ...
3282  2018-12-27          0.0
3283  2018-12-28          0.0
3284  2018-12-29          0.0
3285  2018-12-30          0.0
3286  2018-12-31          NaN

[13422 rows x 2 columns]

In [27]:
IFR.to_csv(path + '/scfg_gf_TIZ.csv')

In [ ]:
indices = []
for l in range(len(IFR)):
    if IFR[2005][l]=='JOUR':
        indices.append(l)

In [ ]:
ls_mnths = ["Unnamed: 1","Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6",
            "Unnamed: 7","Unnamed: 8","Unnamed: 9","Unnamed: 10","Unnamed: 11","Unnamed: 12"]
ls_result=[[],[]]

year = 2005
for i in indices:
    aux = IFR[i+1:i+32]
    for imonth, month in enumerate(ls_mnths):
        for day in range(i+1,i+32):

            ls_result[0].append('{}-{:02d}-{:02d}'.format(str(year),imonth+1, day-i))
            ls_result[1].append(aux[month][day])
    
    year = year+1

In [ ]:
IFR = pd.DataFrame(columns=['date','sd_max'])

In [ ]:
IFR['date'] = ls_result[0]
IFR['sd_max'] = ls_result[1]

In [ ]:
for i in range(len(IFR)):
    if IFR['sd_max'][i]=='traces':
        IFR['sd_max'][i] = 1

In [ ]:
# New data format
IFR

In [ ]:
IFR.to_csv('IFR_sd_max.csv')

<h1 style="font-size:2rem; color:green;">  Preparation of the data of Midelt station  </h1>

In [ ]:
# The original data
MID

In [ ]:
indices = []
for l in range(len(MID)):
    if MID[2005][l] == 1.0:
        indices.append(l)

In [ ]:
ls_mnths = ['JAN','FEV','MARS','AVR','MAI','JUIN','JUIL','AOUT','SEP','OCT','NOV','DEC']
ls_result=[[],[]]

year = 2005
for i in indices:
    aux = MID[i:i+31]
    for imonth, month in enumerate(ls_mnths):
        for day in range(i,i+31):

            ls_result[0].append('{}-{:02d}-{:02d}'.format(str(year),imonth+1, day-i+1))
            ls_result[1].append(aux[month][day])
    
    year = year+1

In [ ]:
MID = pd.DataFrame(columns=['date','sd_max'])

In [ ]:
MID['date'] = ls_result[0]     
MID['sd_max'] = ls_result[1]

In [ ]:
# New data format 
MID

In [ ]:
MID.to_csv('MID_sd_max.csv')